/* styling the body */
body
{
    background-color:lightblue;
}
/* styling the paragraph */
p
{
    font-size: 30px;
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 30px;
    margin-left: 20px;
}
/* styling h1 */
h1
{
    font-size: 20px;
    background-color: blue;
    text-align: center;
    width: 500px;
}
/* inheritance  */
section
{
    background-color: orange;
}
p
{
    color: inherit;
}
/* type selectors */
section p
{
    color: blue;
}
/* Direct Descendants */
section > div > h4
{
    color: rgb(255, 0, 98);
}
/* class */
.examle
{
    background-color: blue;
}
#materials
{
font-family: 'Courier New', Courier, monospace;
color: skyblue;
background-color: blueviolet;
}

/* specificity */
body > div
{
    height: 500px;
    background-color:yellowgreen;
    width: 300px;
}
/* sudo class */
#example h2:first_child
{
    background-color:blue;

}
#example p+p{
    background-color: indianred;
}
/* hoover */
#test-image:hover{
    filter: invert(100px);
}
